<tr>
    <td style="padding-bottom: 0px">
        <div class="form-group">
            <input class="form-control" id="inputPODelDate" value="Item name here" style="background: #ffffff; border-width: 0px; font-size: 15px;" readonly/>
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPOQty" style="width: 150px; border-width: 0px; text-align: end; padding: 4px; font-size: 15px;background: #ffffff; border-width: 0px;" value="Qty here" readonly/> 
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPOUnit" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="0.00" readonly/>
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPODiscount" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="% here" readonly/> 
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPOTotal" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="0.00" readonly/> 
        </div>
    </td>
</tr>