<tr>
	<td style="padding-bottom: 0px">
		<div class="form-group">
			<input class="form-control" id="inputSOItem" value="Item name here" style="background: #ffffff; border-width: 0px; font-size: 15px;" readonly/>
		</div>
		<div id="currentQtyDiv" class="small mb-1" style="padding-left: 3px;" >
			<span id="currentQty" style="color: red"> 70 stocks left. </span>
		</div>
	</td>
	<td style="width: 150px; color: black;">
		<div class="form-group" style="color: black;">
			<input class="form-control" id="inputSOQty" style="width: 150px; border-width: 0px; text-align: end; padding: 4px; font-size: 15px;background: #ffffff;" value="Qty here" readonly/> 
		</div>
	</td>
	<td style="width: 150px; color: black;">
		<div class="form-group" style="color: black;">
			<input class="form-control" id="inputSOUnit" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="0.00" readonly/>
		</div>
	</td>
	<td style="width: 150px; color: black;">
		<div class="form-group" style="color: black;">
			<input class="form-control" id="inputSODiscount" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="0%" readonly/> 
		</div>
	</td>
	<td style="width: 150px; color: black;">
		<div class="form-group" style="color: black;">
			<input class="form-control" id="inputSOTotal" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="0.00" readonly/> 
		</div>
	</td>
</tr>
