<tr>
    <td style="padding-bottom: 0px">
        <div class="form-group">
            <select class="form-control" style="border-width: 0px; padding: 0px; font-size: 15px;" id="inputSOItem">
                <option value="0"> Enter item name </option>
                <option value="1"> Tube </option>
                <option value="2"> Unit </option>
                <option value="2"> Wheels </option>
            </select>
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPOQty" type="number" min="1" max="1000" style="width: 150px; border-width: 0px; text-align: end; padding: 4px; font-size: 15px;" placeholder="Enter quantity" /> 
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPOUnit" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="0.00" readonly/>
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPODiscount" type="number" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" placeholder="Enter discount"/> 
        </div>
    </td>
    <td style="width: 150px; color: black;">
        <div class="form-group" style="color: black;">
            <input class="form-control" id="inputPOTotal" style="width: 150px; border-width: 0px; padding: 4px; font-size: 15px; text-align: end; background-color: #ffffff;" value="0.00" readonly/> 
        </div>
    </td>
</tr>