<div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- side nav-->
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div>
                    <a href="index.html"> <img id="logomain" src="assets/img/Logo.png" > </a>
                </div>
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="inventory.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-cube"></i></div>
                            Inventory
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
