<div class="sb-nav-fixed">
    <!-- top nav -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- user dropdown -->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/adduser">Add Account</a> <!-- enabled for admin only, disabled for secretary & sales -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="logout();">Logout</a>
                    </div>
                </li>
            </ul>
            <!-- name of logged in user -->
            <span id="loggedIn"> {{name}} </span>
        </nav>
</div>