<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>{{title}} - GP Cycling</title>
	<link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />
	<link href="/assets/css/styles.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'/>
	<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>
	{{#if topNav}} {{> topnav}} {{/if}}
	{{#if sideNav}} {{> sidenav}} {{/if}}
	{{#if salesNav}} {{> sales-sidenav}} {{/if}}
	{{{ body }}}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.17/validator.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
	<script src="/assets/js/scripts.js"></script>
	<script src="/assets/js/view-datatables.js"></script>
	<script src="/assets/js/db-area-chart.js"></script>
	<script src="/assets/js/db-bar-chart.js"></script>
	<script src="/assets/js/db-datatables.js"></script>

	<script href="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script href="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
	<script href="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script href="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script href="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>

</body>

</html>
