<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div style="margin-bottom: 20px;">
						<h1 class="mt-4">New Account</h1>
					</div>

					<form id="addUser">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="usertype">Account Type </label> <span style="color=red"> * </span>
									<select class="form-control" name="usertype">
										<option value="0"> Select account type </option>
										<option value="Secretary"> Secretary </option>
										<option value="Sales"> Sales </option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="firstname">First Name</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="firstname" type="text" placeholder="Enter first name" required/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="lastname">Last Name</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="lastname" type="text" placeholder="Enter last name" required/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="small mb-1" for="username">Username</label> <span style="color: red"> * </span>
							<input class="form-control py-4" name="username" type="text" placeholder="Enter username" required/>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="password">Password</label> <span class="small mb-1"> (min. of 8 characters) </span> <span style="color: red"> * </span>
									<input class="form-control py-4" name="password" type="password" placeholder="Enter password" required/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="confpass">Confirm Password</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="confpass" type="password" placeholder="Re-enter password" required/>
								</div>
							</div>
						</div>
						<div class="form-group mt-4 mb-0" style="display: flex; flex-direction: row; justify-content: flex-end;">
							<button id="submitAddUser" type="button" style="margin-right: 10px;" class="btn btn-primary">Add</button>
							<button class="btn btn-outline-secondary" href="window.history.back()" type="button" onclick="window.history.back()">Cancel</button>
						</div>
					</form>  
				</div>
			</main>
		</div>
	</div>
</div>
