<div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div style="margin-bottom: 20px;">
                        <h1 class="mt-4">New Account</h1>
                    </div>

                    <form>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputAccUsername">Account Type </label> <span style="color=red"> * </span>
                                    <select class="form-control" id="inputAccType">
                                        <option value="0"> Select account type </option>
                                        <option value="1"> Secretary </option>
                                        <option value="2"> Sales </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputAccFirstName">First Name</label> <span style="color: red"> * </span>
                                    <input class="form-control py-4" id="inputAccFirstName" type="text" placeholder="Enter first name" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputAccLastName">Last Name</label> <span style="color: red"> * </span>
                                    <input class="form-control py-4" id="inputAccLastName" type="text" placeholder="Enter last name" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputAccUsername">Username</label> <span style="color: red"> * </span>
                            <input class="form-control py-4" id="inputAccUsername" type="text" placeholder="Enter username" required/>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputAccPass">Password</label> <span class="small mb-1"> (min. of 8 characters) </span> <span style="color: red"> * </span>
                                    <input class="form-control py-4" id="inputAccPass" type="password" placeholder="Enter password" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputConfPass">Confirm Password</label> <span style="color: red"> * </span>
                                    <input class="form-control py-4" id="inputConfPass" type="password" placeholder="Re-enter password" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0" style="display: flex; flex-direction: row; justify-content: flex-end;">
                            <button style="margin-right: 10px;" class="btn btn-primary">Add</button>
                            <button class="btn btn-outline-secondary" href="contacts.html">Cancel</button>
                        </div>
                    </form>  
                </div>
            </main>
        </div>
    </div>
</div>