<div id="layoutSidenav_content">
<main>
    <div class="container-fluid">
        <div style="margin-bottom: 20px;">
            <h1 class="mt-4">New Product</h1>
        </div>

        <form style="margin-bottom: 50px;">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputProductName">Product Name</label> <span style="color: red"> * </span>
                        <input class="form-control py-4" id="inputProductName" type="text" placeholder="Enter product name" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputMeasure">Unit of Measurement</label> <span style="color: red"> * </span>
                        <input class="form-control py-4" id="inputMeasure" type="text" placeholder="Enter unit of measurement" required/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputGroup">Product Group</label> <span style="color: red"> * </span>
                        <select class="form-control" id="inputGroup" style="padding:.75rem 0.5em .688rem; height: 100%;" required>
                            <option value="" disabled selected> Select group </option>
                            <option value="one"> One </option>
                            <option value="two"> Two </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputSupplier">Supplier</label> <span style="color: red"> * </span>
                        <select class="form-control" id="inputSupplier" style="padding:.75rem 0.5em .688rem; height: 100%;" required>
                            <option value="" disabled selected> Select supplier </option>
                            <option value="one"> One </option>
                            <option value="two"> Two </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputPurchasePrice">Purchase Price</label> <span style="color: red"> * </span>
                        <input class="form-control py-4" id="inputPurchasePrice" type="text" placeholder="Enter purchase price" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputSellingPrice">Selling Price</label> <span style="color: red"> * </span>
                        <input class="form-control py-4" id="inputSellingPrice" type="text" placeholder="Enter selling price" required/>
                    </div>
                </div>

                <div class="col-md-6" style="min-width: 100%;">
                    <div class="form-group">
                        <label class="small mb-1" for="inputDescription">Description</label> <span style="color: red"> * </span>
                        <input class="form-control py-4" id="inputDescription" type="text" placeholder="Enter description" required/>
                    </div>
                </div>
            </div>    

            <div>
                <div class="form-group">
                    <label class="small mb-1" for="inputReorder">Quantity and Reorder Information</label> <span style="color: red"> * </span>
                </div>
                <div class="form-row" style="margin-top: -20px;">
                    <div class="col-md-6" style="max-width: 33%;">
                        <div class="form-group">
                            <label class="small mb-1" for="inputStartingQuantity">Starting Quantity</label> <span style="color: red"> * </span>
                            <input class="form-control py-4" id="inputStartingQuantity" type="number" placeholder="Enter starting quantity" required/>
                        </div>
                    </div>
                    <div class="col-md-6" style="max-width: 33%;">
                        <div class="form-group">
                            <label class="small mb-1" for="inputReorderPoint">Reorder Point</label> 
                            <input class="form-control py-4" id="inputReorderPoint" type="number" placeholder="Enter reorder point" />
                        </div>
                    </div>
                    <div class="col-md-6" style="max-width: 33%;">
                        <div class="form-group">
                            <label class="small mb-1" for="inputReorderQty">Reorder Quantity</label>
                            <input class="form-control py-4" id="inputReorderQty" type="number" placeholder="Enter reorder quantity" />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label class="small mb-1" for="inputDisc">Discount</label>
                </div>
                <div class="form-row" style="margin-top: -20px">
                    <div class="col-md-6" style="max-width: 50%;">
                        <div class="form-group">
                            <label class="small mb-1" for="inputMinDiscQty">Minimum Quantity</label> 
                            <input class="form-control py-4" id="inputMinDiscQty" type="number" placeholder="Enter minimum quantity for discount" />
                        </div>
                    </div>
                    <div class="col-md-6" style="max-width: 50%;">
                        <div class="form-group">
                            <label class="small mb-1" for="inputDiscount">Percentage Discount</label>
                            <input class="form-control py-4" id="inputDiscount" type="number" placeholder="Enter percentage (ex: 20 for 20% discount)" />
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: -20px;">
                <div class="form-group mt-4 mb-0" style="display: flex; flex-direction: row; justify-content: flex-end;">
                    <button style="margin-right: 10px;" class="btn btn-primary">Add</button>
                    <button class="btn btn-outline-secondary" href="contacts.html">Cancel</button>
                </div>
            </div>
        </form> 
    </div>
</main>
</div>