<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div style="margin-bottom: 20px;">
						<h1 class="mt-4">New Product</h1>
					</div>

					<form style="margin-bottom: 50px;">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="prodName">Product Name</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="prodName" type="text" placeholder="Enter product name" required/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="unit">Unit of Measurement</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="unit" type="text" placeholder="Enter unit of measurement" required/>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="itemGroup">Product Group</label> <span style="color: red"> * </span>
									<select class="form-control" name="itemGroup" style="padding:.75rem 0.5em .688rem; height: 100%;" required>
										<option value="" disabled selected> Select group </option>
										{{#each itemgroups}}
											<option value="{{{_id}}}"> {{itemGroup}} </option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="supplier">Supplier</label> <span style="color: red"> * </span>
									<select class="form-control" name="supplier" style="padding:.75rem 0.5em .688rem; height: 100%;" required>
										<option value="" disabled selected> Select supplier </option>
										{{#each suppliers}}
											<option value="{{{_id}}}"> {{#SUPPLIER_NAME}} </option>
										{{/each}}
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="purchasePrice">Purchase Price</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="purchasePrice" type="text" placeholder="Enter purchase price" required/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="sellingPrice">Selling Price</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="sellingPrice" type="text" placeholder="Enter selling price" required/>
								</div>
							</div>

							<div class="col-md-6" style="min-width: 100%;">
								<div class="form-group">
									<label class="small mb-1" for="description">Description</label> <span style="color: red"> * </span>
									<input class="form-control py-4" name="description" type="text" placeholder="Enter description" required/>
								</div>
							</div>
						</div>    

						<div>
							<div class="form-group">
								<label class="small mb-1" for="inputReorder">Quantity and Reorder Information</label> <span style="color: red"> * </span>
							</div>
							<div class="form-row" style="margin-top: -20px;">
								<div class="col-md-6" style="max-width: 33%;">
									<div class="form-group">
										<label class="small mb-1" for="quantity">Starting Quantity</label> <span style="color: red"> * </span>
										<input class="form-control py-4" name="quantity" type="number" placeholder="Enter starting quantity" required/>
									</div>
								</div>
								<div class="col-md-6" style="max-width: 33%;">
									<div class="form-group">
										<label class="small mb-1" for="reorderPoint">Reorder Point</label> 
										<input class="form-control py-4" name="reorderPoint" type="number" placeholder="Enter reorder point" />
									</div>
								</div>
								<div class="col-md-6" style="max-width: 33%;">
									<div class="form-group">
										<label class="small mb-1" for="reorderQty">Reorder Quantity</label>
										<input class="form-control py-4" name="reorderQty" type="number" placeholder="Enter reorder quantity" />
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="form-group">
								<label class="small mb-1" for="inputDisc">Discount</label>
							</div>
							<div class="form-row" style="margin-top: -20px">
								<div class="col-md-6" style="max-width: 50%;">
									<div class="form-group">
										<label class="small mb-1" for="minDiscQty">Minimum Quantity</label> 
										<input class="form-control py-4" name="minDiscQty" type="number" placeholder="Enter minimum quantity for discount" />
									</div>
								</div>
								<div class="col-md-6" style="max-width: 50%;">
									<div class="form-group">
										<label class="small mb-1" for="percentage">Percentage Discount</label>
										<input class="form-control py-4" name="percentage" type="number" placeholder="Enter percentage (ex: 20 for 20% discount)" />
									</div>
								</div>
							</div>
						</div>

						<div style="margin-top: -20px;">
							<div class="form-group mt-4 mb-0" style="display: flex; flex-direction: row; justify-content: flex-end;">
								<button style="margin-right: 10px;" class="btn btn-primary">Add</button>
								<button class="btn btn-outline-secondary" href="contacts.html">Cancel</button>
							</div>
						</div>
					</form> 
				</div>
			</main>
		</div>
	</div>
</div>
