<div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div style="margin-bottom: 20px;">
                        <h1 class="mt-4">New Supplier</h1>
                    </div>

                    <form>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputSuppName">Supplier Name</label> <span style="color: red"> * </span>
                                    <input class="form-control py-4" id="inputSuppName" type="text" placeholder="Enter supplier name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputSuppEmail">Email</label> <span style="color: red"> * </span>
                            <input class="form-control py-4" id="inputSuppEmail" type="email" aria-describedby="emailHelp" placeholder="abc@abc.com" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputSuppAddress">Complete Address</label> <span style="color: red"> * </span>
                            <input class="form-control py-4" id="inputSuppAddress" type="text" placeholder="Enter complete address" />
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputContactPerson">Contact Person</label> <span style="color: red"> * </span>
                                    <input class="form-control py-4" id="inputContactPerson" type="text" placeholder="Enter complete name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputMobileNo">Mobile Number</label> <span style="color: red"> * </span>
                                    <input class="form-control py-4" id="inputMobileNo" type="text" placeholder="09xxxxxxxxx" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0" style="display: flex; flex-direction: row; justify-content: flex-end;">
                            <button style="margin-right: 10px;" class="btn btn-primary">Add</button>
                            <button class="btn btn-outline-secondary" href="suppliers.html">Cancel</button>
                        </div>
                    </form>  
                </div>
            </main>
        </div>
    </div>
</div>