<div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <h1 class="mt-4">All Customers</h1>
                        <div class="form-group mt-4 mb-0" >
                            <a href="addcustomer.html"><button style="margin-right: 10px;" class="btn btn-primary"> + New </button></a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Customers
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="viewCustTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 150px;">Name</th>
                                            <th style="width: 120px;">Contact #</th>
                                            <th style="width: 110px;">City Address</th>
                                            <th style="width: 80px;">Active SO</th>
                                            <th>Last Transaction</th>
                                            <th>Total Sales (₱)</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Contact #</th>
                                            <th>City Address</th>
                                            <th>Active SO</th>
                                            <th>Last Transaction</th>
                                            <th>Total Sales (₱)</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>09278141054</td>
                                            <td>Lipa</td>
                                            <td>SO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>09278141054</td>
                                            <td>Lipa</td>
                                            <td>SO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>09278141054</td>
                                            <td>Lipa</td>
                                            <td>SO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>09278141054</td>
                                            <td>Lipa</td>
                                            <td>SO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>09278141054</td>
                                            <td>Lipa</td>
                                            <td>SO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>09278141054</td>
                                            <td>Lipa</td>
                                            <td>SO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>09278141054</td>
                                            <td>Lipa</td>
                                            <td>SO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>