<div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="margin-bottom: 15px;">
                            <h1 class="mt-4">All Suppliers</h1>
                        </div>
                        <div class="form-group mt-4 mb-0" >
                            <a href="addsupplier.html"><button style="margin-right: 10px;" class="btn btn-primary"> + New </button></a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Suppliers
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="viewSuppTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 150px;">Name</th>
                                                <th style="width: 120px;">Contact Person</th>
                                                <th style="width: 170px;">Email</th>
                                                <th style="width: 80px;">Active PO</th>
                                                <th>Last Transaction</th>
                                                <th>Total Purchases (₱)</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="width: 150px;">Name</th>
                                                <th style="width: 120px;">Contact Person</th>
                                                <th style="width: 170px;">Email</th>
                                                <th style="width: 80px;">Active PO</th>
                                                <th>Last Transaction</th>
                                                <th>Total Purchases (₱)</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>Kim Yugyeom</td>
                                            <td>kyg@gmai.com</td>
                                            <td>PO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Kim Yugyeom</td>
                                            <td>kyg@gmai.com</td>
                                            <td>PO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Kim Yugyeom</td>
                                            <td>kyg@gmai.com</td>
                                            <td>PO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Kim Yugyeom</td>
                                            <td>kyg@gmai.com</td>
                                            <td>PO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Kim Yugyeom</td>
                                            <td>kyg@gmai.com</td>
                                            <td>PO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Kim Yugyeom</td>
                                            <td>kyg@gmai.com</td>
                                            <td>PO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Kim Yugyeom</td>
                                            <td>kyg@gmai.com</td>
                                            <td>PO-000721</td>
                                            <td>2008/11/28</td>
                                            <td>162,700</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>