<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div style="margin: 15px 0; display: flex; align-items: center; justify-content: space-between">
                <div></div>
                <div style="display: flex; align-items: flex-end; justify-content: flex-end;">
                    <a href="javascript:history.back()"><button class="btn btn-outline-secondary" style="margin-right: 5px; width: 75px; font-size: 12px; padding: 1px;"><b style="color: black;">Cancel</b></button></a>
                    <a href="viewProduct.html"><button class="btn btn-primary" style="margin-left: 5px; width: 75px; font-size: 12px; padding: 1px;"><b>Done</b></button></a>
                </div>
            </div>
        </div>

        <!-- NO EDIT: Product Name & Code -->
        <div class="container-fluid">
            <div style="margin: 20px 0; display: flex; align-items: center; justify-content: space-between;flex-wrap: wrap;">
                <div><h4 style="color: black;">PRODUCT NAME</h4></div>
                <div><h5 style="color: #43444d;"> PRODUCT CODE</h5></div>
            </div>
        </div>
        
        <!-- NO EDIT: Product Primery &  -->
        <div class="container-fluid" style="display: flex; flex-wrap: wrap; margin-bottom: 20px">
            <div style="width: 50%; flex-wrap: wrap; ">
                <div class="container-fluid" style="margin-bottom: 20px">
                    <div class="form-group">
                        <h6 style="color: red;margin-bottom: 3px;">Primary Details</h6>
                    </div>
                    <div style="margin-top: -10px; padding: 5px; flex-wrap: wrap;">
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 60%; margin-bottom: 0%;font-size: 16px;">Item Group:</p> 
                            <p style="margin-bottom: 0%;font-size: 16px;color: black; font-weight: 900;">GROUPNAME</p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 60%; margin-bottom: 0%;font-size: 16px;">Supplier:</p> 
                            <p style="margin-bottom: 0%;font-size: 16px;color: black; font-weight: 900;">SUPPLIEE</p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 60%; margin-bottom: 0%;font-size: 16px;">Unit of Measurement:</p> 
                            <p style="margin-bottom: 0%;font-size: 16px;color: black; font-weight: 900;">pcs</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container-fluid" style="width: 50%;flex-wrap: wrap;">
                <div class="container-fluid">
                    <div class="form-group">
                        <h6 style="color: red;margin-bottom: 3px;">Inventory Summary</h6>
                    </div>
                    <div style="margin-top: -10px; padding: 5px; flex-wrap: wrap;">
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 50%; margin-bottom: 0%;font-size: 16px;">Onhold: </p> 
                            <p style="margin-bottom: 0%;font-size: 16px;color: black; font-weight: 900;">30</p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 50%; margin-bottom: 0%;font-size: 16px;">Incoming: </p> 
                            <p style="margin-bottom: 0%;font-size: 16px;color: black; font-weight: 900;">10 (February 31, 2021)</p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 50%; margin-bottom: 0%;font-size: 16px;">Outgoing: </p> 
                            <p style="margin-bottom: 0%;font-size: 16px;color: black; font-weight: 900;">5 (February 31, 2021)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" style="display: flex;flex-wrap: wrap; width:100%; margin: -25px 29px 0px">
                <p style="width: 28.4%; margin-bottom: 0%;font-size: 16px;">Description:</p> 
                <p style="margin-bottom: 0%; font-size: 16px;color: black;  font-weight: 900;">
                    <input style="height: 23px; width: 400%;" id="inputdesc" type="text" value="khwbdlkwhbc;iwb">
                </p>
            </div>
        </div>

        <!-- EDITABLE -->
        <div class="container-fluid" style="display: flex; flex-wrap: wrap; margin-bottom: 20px">
            <div style="width: 50%; flex-wrap: wrap;">
                <div class="container-fluid" style="margin-bottom: 20px">
                    <div class="form-group">
                        <h6 style="color: red;margin-bottom: 3px;">Price and Discounts</h6>
                    </div>
                    <div style="margin-top: -10px; padding: 5px; flex-wrap: wrap;">
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 60%; margin-bottom: 0%; font-size: 16px;">Purchase Price:</p> 
                            <p style="margin-bottom: 0%; font-size: 16px;color: black;  font-weight: 900;">P
                                <input style="height: 23px; width: 100px;" id="inputPurchasePrice" type="text" value="1,929.98">
                            </p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 60%; margin-bottom: 0%; font-size: 16px;">Selling Price:</p> 
                            <p style="margin-bottom: 0%; font-size: 16px;color: black;  font-weight: 900;">P
                                <input style="height: 23px; width: 100px;" id="inputSellingPrice" type="text" value="10,000">
                            </p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 60%; margin-bottom: 0%; font-size: 16px;">Minimum Quantity:</p> 
                            <p style="margin-bottom: 0%; font-size: 16px;color: black;  font-weight: 900;">
                                <input style="height: 23px; width: 85px;" id="inputMinDiscQty" type="number" value="30">
                            </p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 60%; margin-bottom: 0%; font-size: 16px;">Discount:</p> 
                            <p style="margin-bottom: 0%; font-size: 16px;color: black;  font-weight: 900;">
                                <input style="height: 23px; width: 70px;" id="inputDiscountPercent" type="number" value="30">%
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="width: 50%;flex-wrap: wrap; margin-bottom: 10px">
                <div class="container-fluid">
                    <div class="form-group">
                        <h6 style="color: red;margin-bottom: 3px;">Reorder Information</h6>
                    </div>
                    <div style="margin-top: -10px; padding: 5px; flex-wrap: wrap;">
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 50%; margin-bottom: 1px;font-size: 16px;">Reorder Point:</p> 
                            <p style="margin-bottom: 0%; font-size: 16px;color: black;  font-weight: 900;">
                                <input style="height: 23px; width: 85px;" id="inputReorderPoint" type="number" value="30">
                            </p>
                        </div>
                        <div class="form-group" style="display: flex;flex-wrap: wrap; margin-bottom: 0%;">
                            <p style="width: 50%; margin-bottom: 1px;font-size: 16px;">Reorder Quantity:</p> 
                            <p style="margin-bottom: 0%; font-size: 16px;color: black;  font-weight: 900;">
                                <input style="height: 23px; width: 85px;" id="inputReorderQty" type="number" value="30">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </main>
</div>