<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid" style="padding: 0%;">
					<h1 class="mt-4" style="padding:0px 20px">Inventory</h1>
					<div class="card mb-4">
						<div class="card-header" style="display: inline-flex; vertical-align: middle; align-items: center;" >
							<div style="width: 50%; vertical-align: middle; ">
								<i class="fas fa-table mr-1"></i>
								Inventory Items
							</div>
							<div style="width:50%; text-align: right; justify-content: flex-end; vertical-align: middle; align-items: center;">
								<a href="/addProduct"><button style="background-color: #F50506; color: white; padding: 0px 10px 0px 5px; align-content: center; border-radius: 15px; border-width: 0px;">
									<img src="assets/img/plus.png" width="15px"><b style="font-size: .85rem;align-items: center;">New</b>
								</button></a>
							</div>
						</div>
						<div class="card-body" style="padding: 10px;">
							<div class="table-responsive" style="font-size: .75rem;">
								<table class="tablethin table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: .8rem;">
									<thead style="background-color: rgba(0, 0, 0, 0.03);">
										<tr>
											<th style="width: 15%;">Group</th>
											<th style="width: 30%;">Product</th>
											<th style="width: 5%;">Unit</th>
											<th style="width: 5%;">Reorder</th>
											<th style="width: 5%;">Onhand</th>
											<th style="width: 5%;">Incoming</th>
											<th style="width: 5%;">Outgoing</th>
											<th style="width: 15%; text-align: right;">Purchase P</th>
											<th style="width: 15%; text-align: right;">Selling P</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>GROUP</td>
											<td><a href="product.html">PRODUCT</a></td>
											<td>UNIT</td>
											<td>REORDER</td>
											<td>ONHAND</td>
											<td>INCOMING</td>
											<td>OUTGOING</td>
											<td style="text-align: right;">PURCHASE PRICE</td>
											<td style="text-align: right;">SELLING PRICE</td>
										</tr>
										<tr>
											<td>Adaptor</td>
											<td><a href="product.html">Quaxar 9mm to 15mm</a></td>
											<td>pcs</td>
											<td>23</td>
											<td>40</td>
											<td></td>
											<td>5</td>
											<td style="text-align: right;">P245.00</td>
											<td style="text-align: right;">P380.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>