<div class="bg-primary">
    <div class="loginbg">
        <div>
            <div style="height: 180px; width: 180px; background-color: #F50506; opacity: 46%; border-radius: 50%; margin-left: 1150px; margin-top: -80px; position: absolute;"></div>
            <div style="height: 60px; width: 414px; background-color: #868386; border-radius: 2rem; margin-left: 900px; margin-top: 20px; position: absolute;"></div>
            <div style="height: 130px; width: 130px; background-color: #D72323; border-radius: 50%; margin-left: 1200px; margin-top: 460px; position: absolute;"></div>
            <div style="height: 300px; width:300px; background-color: #4B4D52; opacity: 50%; border-radius: 4rem; margin-left: 1050px; margin-top: 250px; position: absolute;"></div>
            <div style="height: 250px; width:40px; background-color: #F50506; opacity: 53%; border-radius: 2rem; margin-left: 1040px; margin-top: 200px; position: absolute;"></div>
            <div style="height: 113px; width: 113px; background-color: #C4C4C4; border-radius: 50%; margin-left: 30px; margin-top: 30px"></div>
            <div style="height: 47px; width: 414px; background-color: #F50506; opacity: 70%; border-radius: 2rem; margin-left: -20px; margin-top: -20px"></div>
            <div style="height: 180px; width: 180px; background-color: #D72323; opacity: 82%; border-radius: 50%; margin-left: 100px; margin-top: 100px"></div>
            <div style="height: 300px; width:350px; background-color: #4B4D52; opacity: 83%; border-radius: 4rem; margin-left: -100px; margin-top: -70px"></div>
            <div style="height: 200px; width:60px; background-color: #F50506; opacity: 53%; border-radius: 2rem; margin-left: 240px; margin-top: -200px"></div>
            
        </div>
    </div>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <!-- logo -->
                <div>
                    <img id="logologin" src="assets/img/Logo.png" >
                </div>
                <div id="loginbox">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <!-- login form -->
                                <div class="card-body">
                                    <form method="POST" action="/login">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Username</label>
                                            <input class="form-control py-4" name="username" type="text" placeholder="Enter username" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            <input class="form-control py-4" name="password" type="password" placeholder="Enter password" />
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary" style="margin-left: auto; margin-right: auto;">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>