<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div style="display: flex; flex-direction: row; justify-content: space-between;">
						{{#if isSO}}
							<h1 class="mt-4">Sales Orders</h1>
							<div class="form-group mt-4 mb-0" >
								<a href="/newSO"><button style="margin-right: 10px;" class="btn btn-primary"> + New </button></a>
							</div>
						{{else}}
							<h1 class="mt-4">Purchase Orders</h1>
							<div class="form-group mt-4 mb-0" >
								<a href="/newPO"><button style="margin-right: 10px;" class="btn btn-primary"> + New </button></a>
							</div>
						{{/if}}
					</div>
					<div class="card mb-4">
						{{#if isSO}}
							<div class="card-header">
								<i class="fas fa-table mr-1"></i>
								Sales Orders
							</div>
						{{else}}
							<div class="card-header">
								<i class="fas fa-table mr-1"></i>
								Purchase Orders
							</div>
						{{/if}}
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="viewAllSOPO" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Date</th>
											<th>PO #</th>
											<th>Supplier</th>
											<th>Status</th>
											<th>Remarks</th>
											<th>Terms</th>
											{{#if isSO}} <th>Mode</th> {{/if}}
											<th>Deliver By</th>
											<th>Amount</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Date</th>
											<th>PO #</th>
											<th>Supplier</th>
											<th>Status</th>
											<th>Remarks</th>
											<th>Terms</th>
											{{#if isSO}} <th>Mode</th> {{/if}}
											<th>Deliver By</th>
											<th>Amount</th>
										</tr>
									</tfoot>
									<tbody style="font-size: 12px;" >
										{{#each orders}}
										<tr>
											<td>2008/01/23</td>
											<td><a href="#">PO-000001</a></td>
											<td>Lipa Bikes</td>
											<td><div id="status" class="status-received"> Received</div></td>
											<td>Received by Gino </td>
											<td>Bank</td>
											{{#if isSO}} <td>Delivery</td> {{/if}}
											<td>2008/01/23</th>
											<td>120,000</th>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
